@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

html, body {
  margin: 0;
  height: 100%;
  background-color: #EADB1E;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  margin-left: 160px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 6rem;
  margin:0;
  font-weight: 600;
  color: #1B140E;
}

.small-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #1B140E;
}

.description {
  font-family: 'Source Sans Pro', sans-serif; 
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 2rem;
  margin:0;
  color: #22221C;
}

#navMove {
  margin-left: 160px;
}

.fullLogo {
  max-width: 75%;
  max-height: 75%;
}

.smallLogo {
  margin-left: 10px;
  max-width: 85%;
  max-height: 85%;
}

/* All Subjects Page CSS */
.allSubs {
  margin-left: 200px;
  margin-top: 50px;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(2, minmax(1fr, 1fr));
  gap: 10px;
}

/* Sidebar CSS */
.sidenav {
  height: 100%;
  width: 160px;
  display: flexbox;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #FDFEFE;
  display: block;
  margin-top: 50px;
  text-align: center;
}

.sidenav a:hover {
  font-size: 30px;
}

#login {
    margin-top: 225%;
}
